
/* ==========================================================================
   #Base

   Base styles:
   single element selectors (p, h1, body), pseudo class,
   child / sibling selectors, attribute selectors like inputs
*/

/**
 * 1. Apply box-sizing: border-box to all elements
 * IE8+ compatible
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 *
 * 2. One more normalization: Maintain text size upon horizontal-vertical window
 * changes in iOS.
 */

html {
  box-sizing: border-box; /* 1 */
  font-size: 100%;
  -webkit-text-size-adjust: 100%; /* 2 */

  @include breakpoint(40em) {
    font-size: 112%; // 18px
  }

  @include breakpoint(62.5em) {
      font-size: 125%; // 20px
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  // typography
  font: #{$font-size}/#{$line-height-main} $font-stack-main;
  color: $color-mono;

  // prevent text overflow
  word-wrap: break-word; // fallback
  overflow-wrap: break-word;

  // Sticky footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  // sticky footer
  flex-grow: 1;
}

main > * {
  margin-bottom: $spacing-large;
}

// Set spacing
p, figure, ul {
  margin-bottom: $spacing-medium;
}

h1,
h2,
h3,
h4 {
  line-height: $line-height-alt;
  font-weight: bold;
  margin-bottom: $spacing-medium;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

li {
  margin-bottom: $spacing-small;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $color-links; // light blue
  &:hover {
      text-decoration: underline;
  }
}
